name: Training Otomatis

on: [push]

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v2

    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'

    - name: Install Dependencies
      run: |
        pip install -r requirements.txt

    - name: Run Model Training
      run: |
        python modelling.py

        
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: hasil-training-mlflow
        path: mlruns/
